{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-10 ml-md-auto">
            <div class="card bg-light mb-3 mt-5" style="width: 800px">
                <div class="card-body">
                    <div class="card-header mb-3">Article Form</div>
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
