{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-around flex-wrap">
            {# boucle sur le tableau $articles du controller#}
            <div class="card" style="width: 450px; margin-top: 50px">
                <div class="card-header">
                    Créé le {{ article.date | date("d/m/Y") }}
                </div>
                {% if article.image %}
                    <img src="/images/products/{{ article.image }}" class="card-img-top">
                {% else %}
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ article.titre }}</h5>
                    <p class="card-text">{{ article.contenu }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
